
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



// Variables
@import "variables";

// Bootstrap
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../vendor/font-awesome/scss/font-awesome";
@import "../vendor/select2/src/scss/core";
@import "../vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";


body {
  font-family: 'Noto Sans KR',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
}
body{background:#fff;}

.logo-txt{
  font-size:22px;
  line-height:42px;
  padding-left:15px;
}
.navbar-default{
  border-color: #ddd;
}

.contents{
  margin-top:50px;
}


.panel-default, .panel-default>.panel-heading{
  border-color: #ddd;
}

.search-form{
  padding:15px;
}
.search-form input[type="text"]{
  width:100%;
}

.list-group-item{
  border-color: #ddd;
}
.realestate-list{

}
.realestate-list>.list-group-item{
  cursor: pointer;
}

.btn-fb{
  background: #3b5998;
  border:1px solid #29487d;
  color:#fff;
}

.btn-fb:hover, .btn-fb:active, .btn-fb:focus{
  background: #415579;
  border-color: #365899;
  color:#fff;
}

.footer{
  border-top:1px solid #ddd;
  padding:20px 0;
  font-size:12px;

}
.footer .logo, .footer .logo:hover{
  color:inherit;
  text-decoration: none;
}

.map-info-window>.panel-heading:before{
  width:10px;
  height:10px;
  display:block;
  content:'';
  opacity:1;
  position:absolute;
  background:#fff;
  border:1px solid #ddd;
  border-color:transparent transparent #ddd #ddd;
  top:-49px;
  left:47.7%;
  transform:rotate(-45deg);z-index:100;
}

.login.panel, .register.panel{
  margin: 0px 0 200px 0;
}

.checkbox label::before{
  margin-top:3px;
}
.checkbox label::after{
  top:2px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.realestate-list .addr{font-size:12px;}
.realestate-list .info{float:left;}
.realestate-list .tools{float:right;}