
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";


body{background:#fff;}

.logo-txt{
  font-size:22px;
  line-height:42px;
  padding-left:15px;
}
.navbar-default{
  border-color: #ddd;
}