
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
@import "../vendor/select2/src/scss/core";


body{background:#fff;}

.logo-txt{
  font-size:22px;
  line-height:42px;
  padding-left:15px;
}
.navbar-default{
  border-color: #ddd;
}

.contents{
  margin-top:50px;
}

.panel-default, .panel-default>.panel-heading{
  border-color: #ddd;
}

.search-form{
  padding:15px;
}
.search-form input[type="text"]{
  width:100%;
}

.list-group-item{
  border-color: #ddd;
}
.realestate-list{

}
.realestate-list>.list-group-item{
  cursor: pointer;
}

.btn-fb{
  background: #3b5998;
  border:1px solid #29487d;
  color:#fff;
}

.btn-fb:hover, .btn-fb:active, .btn-fb:focus{
  background: #415579;
  border-color: #365899;
  color:#fff;
}

.footer{
  border-top:1px solid #ddd;
}
.footer .logo, .footer .logo:hover{
  color:inherit;
  text-decoration: none;
}